.header {
  width: 100%;
  min-height: 45px;
  background: #151515;
  display: flex;
  justify-content: left;
  align-items: center;
  h1 {
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-family: monospace;
    padding-left: 20px;
    cursor: pointer;
    &:hover {
      color: rgb(212, 205, 205);
    }
  }
}
