<div class="home-page">

  <app-header></app-header>

  <h2 class="home-page_title" routerLink="/home">Home</h2>

  <div class="games-container">
    <ng-container *ngFor="let game of latestGamesArray">
        <div class="games-container_gcard">
            <div class="game-card" (click)="viewGame(game)">
                <div class="game-title">{{ game.name }}</div>
                <div class="game-rating"
                [ngClass]="{'success': game.metacritic >= 75, 'warning': (game.metacritic >= 50 && game.metacritic < 75), 'danger': game.metacritic < 50}">
                {{ game.metacritic ? game.metacritic : '-' }}
                </div>
                <div class="game-image">
                    <img src="{{ game.background_image }}">
                </div>
                <div class="game-info-body">
                    <div class="game-release-date">{{ game.released }}</div>
                    <div class="game-info-more">
                        >
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

</div>
