.home-page {
  width: 100%;
  min-height: 100%;
  background: #151515;
  color: #fff;
  &_title {
    cursor: pointer;
    transition: .3s;
    padding-left: 19px;
    &:hover {
      color: rgb(212, 205, 205);
    }
  }
}
.games-container {
  margin-top: 30px;
  position: relative;
  .game-card {
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 1px 2px #aaa;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 0.2s;
    &:hover {
      box-shadow: 0 1px 8px #909090;
    }
    .game-title {
      padding: 0 0 10px;
      font-weight: bold;
      font-size: 18px;
    }
    .game-rating {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 2px 10px;
      color: #fff;
      border-radius: 100px;

      &.success {
        background-color: #27ae60;
      }
      &.warning {
        background-color: #f39c12;
      }
      &.danger {
        background-color: #e74c3c;
      }
    }
    .game-image img {
      width: 100%;
      height: 155px;
    }
    .game-info-body {
      position: relative;
      .game-info-more {
        color: #fff;
        font-size: 25px;
        position: absolute;
        right: 0;
        bottom: -8px;
      }
    }
  }
}

