<app-header></app-header>

<form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="auth-form_header">
    <h2>Login</h2>
  </div>
  <div class="auth-form_input-container">
    <input type="text" placeholder="Username" formControlName="username">
  </div>
  <small class="auth-form_error-valid" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">Username is required (maximum 10 characters)</small>
  <div class="auth-form_input-container">
    <input type="email" placeholder="Email" formControlName="email">
  </div>
  <small class="auth-form_error-valid" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email is required</small>
  <div class="auth-form_input-container">
    <input type="password" placeholder="Password" formControlName="password">
  </div>
  <small class="auth-form_error-valid" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Password is required (minimum 3 characters)</small>
  <div class="auth-form_btn">
    <button mat-button type="submit" [disabled]="form.invalid || form.disabled">Welcome</button>
  </div>
</form>

