.auth-form {
  position: relative;
  width: 30%;
  min-height: 100px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 15px;
  background: #f16d1541;
  border-radius: 7px;
  &_header {
    width: 100%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: #ff6a00;
      margin: 0;
      font-size: 30px;
      font-family: monospace;
    }
  }
  &_input-container {
    width: 100%;
    min-height: 30px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 90%;
      height: 20px;
      border-radius: 5px;
      outline: none;
      padding: 5px;
      border: 2px solid #3b4371;
      transition: .3s;
      &:focus {
        border: 2px solid #3880ff;
      }
      &::placeholder {
        color: #3b4371;
      }
      &:focus::placeholder {
        opacity: 0;
        transition: opacity .1s ease;
      }

    }
    input.ng-touched.ng-invalid {
      border-color: red;
    }
    input.ng-touched.ng-valid {
      border-color: greenyellow;
    }
  }
  &_btn {
    width: 100%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      margin-top: 30px;
      border: none;
      background: #3880ff;
      transition: .3s;
      font-size: 15px;
      color: #fff;
      &:hover {
        background: #578deb;
      }
    }
  }
  &_error-valid {
    color: #ED213A;
    transition: .3s;
    padding-left: 20px;
  }
}
